.motiongallery{
    display: flex;
    max-width: 100%;
    max-height: 100%;
    margin: .5% .5% .5% 2%;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
}
.motiongalleryrow1{
    display: flex;
    width: 50%;
    min-height: 100vh;
    margin: 0;
    flex-flow: column nowrap;
}
.motionrow1header {
    display: flex;
    width: 100%;
    justify-content: center;
    
    
}
.motionrow1header h3 {
    display: flex;
    margin: 0%;
    font-weight: 100;
    font-size: clamp(1rem, 0.6rem + .6vw, 4rem);
    border-bottom: 2px solid rgb(219, 170, 178);
}
.comVideo {
 display: flex;
 width: 90%;
 height: 30vh;
 margin: 1%;
 flex-basis: 1;
 flex-flow: column nowrap;
}
.comVideo p {
    display: flex;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
}


.motiongalleryrow2{
    display: flex;
    width: 50%;
    margin: 0%;
    flex-flow: column nowrap;
  
}
.motionrow2header {
    display: flex;
    width: 100%;
    justify-content: center;
}
.motionrow2header h3 {
    display: flex;
    margin: 0%;
    font-weight: 100;
    font-size: clamp(1rem, 0.6rem + .6vw, 4rem);
    border-bottom: 2px solid rgb(219, 170, 178);
}
.musicVideo {
    display: flex;
    width: 90%;
    height: 30vh;
    margin: 1%;
    flex-basis: 1;
    flex-flow: column nowrap;
}
.musicVideo p {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
}